@import 'variables' ;

.header {
    @include spacearoundblock;
    font-size: $fontsizeheader;
    font-weight: $fontweight;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media screen and (max-width: 767px) {
        font-size: 12px;
        text-transform: uppercase;
    }

    img {

        @media screen and (max-width: 767px) {
            width: 145px;
            }
    }

    &__menu {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        gap: 50px;

        @media screen and (max-width: 767px) {
            gap: 25px;
            }
       
    }

    .active {
        text-decoration: underline;
    }
}