
$fontPrimaryColor: #FFFFFF;
$fontSecondaryColor: #000000;
$fontTertiaryColor: #FF6060;


$fontsizeheader: 24px;
$fontweight : 500;

@mixin spacearoundblock {

    margin: 45px 100px;

    @media screen and (max-width: 767px) {

    margin: 20px;
        
    }
}
